$drop-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);

$white: #fefefe;
$border: #313244;

$martinique: #2f304c;
$ebony-clay: #202135;

$danger: #FF1D3A;
$success: #1DFF4D;
$info: #038CCC;